In [1]:
age1 = int(input("enter the age1:"))
age2 = int(input("enter the age2:"))
age3 = int(input("enter the age3:"))
if age1>age2 and age1>age3:
    print("age 1 older than the rest of two ages")
elif age2>age1 and age2>age3:
    print("age 2 is older than rest of two ages")
else:
    print("age 3 is older than the rest of two ages")

enter the age1:34
enter the age2:26
enter the age3:18
age 1 older than the rest of two ages

In [2]:
def cel_to_fah(cel):
    fah = (cel*1.8)+32
    return fah

In [3]:
cel_to_fah(37)

98.60000000000001

In [7]:
user_input = int(input("enter the 4 digit  value:"))
num = user_input
a = num%10
num = num//10
b = num%10
num = num//10
c = num%10
d = num//10

rev = 1000*a+100*b+10*c+d
print("rev:",rev)
print("original:",num)

if num==rev:
    print("True")
else:
    print("false")

enter the 4 digit  value:3241
rev: 1423
original: 32
false

In [8]:
user_input = int(input("enter the number:"))
##34562:
num = user_input
a = num%10
num = num//10
b = num%10
num = num//10
c = num%10
num = num//10
d = num%10
e = num//10
rev = 10000*a+1000*b+100*c+10*d+e
print("original:",user_input)
print("rev:",rev)

if user_input==rev:
    print("True")
else:
    print("False")

enter the number:34562
original: 34562
rev: 26543
False

In [9]:
def add(x,y,z):
    sum = x+y+z
    return sum

In [10]:
add(3,5,7)

15

In [12]:
user_input = int(input("enter the number:"))
if user_input%2==0:
    print("user_input is even:")
else:
    print("user_input is odd:")

enter the number:9
user_input is odd:

In [14]:
year = int(input("enter the year:"))
if year%4==0 and year%100!=0:
    print("it is a leap year:")
elif year%100==0 and year%400==0:
    print("it is a leap year:")
else:
    print("it is not a leap year:")

enter the year:2003
it is not a leap year:

In [15]:
x = 45
x0 = 37
y = 26
y0 = 32
euclidean_dis = ((x0-x)**2+(y0-y)**2)**0.5
print(euclidean_dis)

10.0

In [17]:
sp = int(input("enter the selling price:"))
cp = int(input("enter the cost price:"))
profit = sp-cp
print("profit:",profit)

enter the selling price:36
enter the cost price:26
profit: 10

In [18]:
angle1 = int(input("enter the value of angle1:"))
angle2 = int(input("enter the value of angle2:"))
angle3 = int(input("enter the value of angle3:"))
if angle1+angle2+angle3==180 and angle1==angle2==angle3:
    print("it form a equirateral traingle:")
else:p
    print("it cannnot form a equirateral traingle: ")

enter the value of angle1:60
enter the value of angle2:60
enter the value of angle3:60
it form a equirateral traingle:

In [19]:
p = int(input("enter the principle amount:"))
r = int(input("enter the rate of interest:"))
t = int(input("enter the time period:"))
si = p*r*t/100
print(si)
amount = p+si
print("amount:",amount)

enter the principle amount:5000
enter the rate of interest:10
enter the time period:2
1000.0
amount: 6000.0

In [21]:
radius = float(input("enter the value of radius:"))
height = float(input("enter the value of height:"))
pi = 3.14
volume = pi*radius**2*height
print("volume of cylinder:",volume)

cost_1ltr_milk = int(input("enter the value:"))

cost_of_cylinder = cost_1ltr_milk*volume
print("find_cost_of_cylinder:",cost_of_cylinder)

enter the value of radius:3.2
enter the value of height:10.4
volume of cylinder: 334.3974400000001
enter the value:40
find_cost_of_cylinder: 13375.897600000004

In [22]:
user_input = int(input("enter the integer value:"))
num = user_input

if user_input%3==0 and user_input%6==0:
    print("num is divisible by both 3 and 6:")
else:
    print("num is not divisible by 3 and 6:")

enter the integer value:30
num is divisible by both 3 and 6:

In [23]:
for i in range(1,100):
    if i%3==0 and i%6==0:
        print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [24]:
temp = int(input("enter the temperature value:"))
humidity = int(input("enter the humidity value:"))

if temp>=30 and humidity>=90:
    print("hot and humid:")
elif temp>=30 and humidity<90:
    print("condition is hot")
elif temp<30 and humidity>=90:
    print("cool and humid:")
elif temp<30 and humidity<90:
    print("cool")
else:
    print("invalid input")
print(" input temp:",temp)
print("humidity:",humidity)

enter the temperature value:35
enter the humidity value:50
condition is hot
 input temp: 35
humidity: 50

In [25]:
a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))
c = int(input("enter the value of c:"))
sum_of_square = a**2+b**2+c**2
print(sum_of_square)

enter the value of a:2
enter the value of b:3
enter the value of c:4
29

In [26]:
user_input = int(input("enter the armstrong:"))
sum = 0
num = user_input
temp = num
while temp>0:
    digit = temp%10
    cubic = digit**3
    sum = sum+cubic
    temp//=10
if sum==num:
    print("this number is armstrong number:")
else:
    print("this number is not a armstrong number:")

enter the armstrong:153
this number is armstrong number:

In [29]:
salary = int(input("enter the amount of salary:"))
HRA = 0.10
DA = 0.05
PF = 0.03
IT1 = 0.10
IT2 = 0.20
IT3 = 0.30

if salary>=500000 and salary<=1000000:
    inhand1 = salary-salary*IT1-salary*HRA-salary*DA-salary*PF
    print("inhand , when salary range(5lpa-10lpa)",inhand1)
elif salary>=1100000 and salary<=2000000:
    inhand2 = salary-salary*IT2-salary*HRA-salary*DA-salary*PF
    print("inhand2 salary range(11lpa - 20lpa)",inhand2)
elif salary>=2000000 and salary<=3000000:
    inhand3 = salary-salary*IT3-salary*HRA-salary*DA-salary*PF
    print("inhand3 , salary range(20lpa,30lpa)")
elif salary>=0 and salary<=100000:
    inhand4 = salary
else:
    print("invalid input:")

    print("COST TO COMPANY salary:",salary)

enter the amount of salary:700000
inhand , when salary range(5lpa-10lpa) 504000.0

In [32]:
option = int(input("select option from 1-4"))
if option==1:
    cm = float(input("enter the value of cm:"))
    ft = cm/30
    print("cm_to_ft:",ft)
elif option==2:
    km = int(input("enter the value of km:"))
    miles = km/1.6
    print("km_to_miles:",miles)
elif option==3:
    usd = int(input("enter the value of usd"))
    inr = usd/80
    print("usd_to_inr:",inr)
elif option==4:
        print("exit")
else:
    print("invalid input")

select option from 1-41
enter the value of cm:2.5
cm_to_ft: 0.08333333333333333

In [35]:
num1 = int(input("enter the value:"))
num2 = int(input("enter the value:"))
print("original number:",num1,num2)
num1,num2 = num2,num1
print("swaped value:",num1,num2)

enter the value:3
enter the value:6
original number: 3 6
swaped value: 6 3

In [37]:
num = int(input("enter the value:"))
sum = 0
for i in range(1,num+1):
    sum = sum+i
    print(sum)
    i = i+1

enter the value:10
1
3
6
10
15
21
28
36
45
55

In [43]:
def multiply(a,b):
    result = 0
    for _ in range(b):
        result+=a
    return result

num1 = 4
num2 = 7
product = multiply(num1,num2)
print(product)

28

In [44]:
def multiply(a,b):
    result = 0
    for _ in range(b):
        result+=a
    return result

num1 = 4
num2 = 5
product = multiply(num1,num2)
print(product)

20